<div class="main col-lg-6">
<% if @program.name == "" %>
  <h1><%= @program.organization.name %></h1>
<%else%>
  <h1><%= @program.name %></h1>
<%end%>

  <% if @program.organization.latitude and @program.organization.longitude %>
      <%= map(:center => {
            :latlng => [@program.organization.latitude, @program.organization.longitude],
            :zoom => 10,
          },
          :tile_layer => "http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}",
          :markers => [{
              :latlng => [@program.organization.latitude, @program.organization.longitude]
          }],
          :max_zoom => 16
      ) %>
  <%end%>
  </div>


  <div class="main col-lg-6">
      <% if @program.description != "" %>
        <h2>Program Description</h2>
        <p><%= @program.description %></p>
      <%end%>

      <% if @program.access_to_services != "" %>
        <h2>Access to Services:</h2>
        <p><%= @program.access_to_services %></p>
      <%end%>

      <% if @program.program_timing != "" %>
        <h2>Hours of Operation</h2>
        <p><%= @program.program_timing %></p>
      <%end%>

      <% if @program.services != "" %>
        <h3>Services Available</h3>
        <p><%= @program.services %></p>
      <%end%>

      <% if @program.health_status_req != "" || @program.gender_req != "" || @program.sexual_orientation_requirement != "" %>
        <h3>Eligibility Requirements:
            <%= @program.health_status_req %> 
            <%= @program.gender_req %>  
            <%= @program.sexual_orientation_requirement %>
        </h3>
      <%end%>

      <% if @program.min_age != nil %>
        <h3>Minimum Age Served:
        <%= @program.min_age %> </h3>
      <%end%>

      <% if @program.max_age != nil %>
        <h3>Maximum Age Served:
        <%= @program.max_age %> </h3>
      <%end%>

      <% if @program.language_req == "Y" %>
        <h3>Spanish Speaking Program</h3>
    <%end%>
  </div>

