<div class="main col-lg-6">

<% if @program.name == "" %>
  <h1><%= @program.organization.name%>  <% if @program.friendliness_rating == "LGBT Focused" %>
        <%= image_tag("lgbt_focused.png", :alt => "LGBT Focused", :title => "LGBT Focused") %>
      <%end%>
      <% if @program.friendliness_rating == "LGBT Friendly" %>
        <%= image_tag("lgbt_friendly.png", :alt => "LGBT Friendly", :title => "LGBT Friendly") %>
      <%end%></h1>

  <h3>@ <%= link_to  @program.organization.name, @program.organization %></h3>
<%else%>
  <h1><%= @program.name %>  <% if @program.friendliness_rating == "LGBT Focused" %>
        <%= image_tag("lgbt_focused.png", :alt => "LGBT Focused", :title => "LGBT Focused") %>
      <%end%>
      <% if @program.friendliness_rating == "LGBT Friendly" %>
        <%= image_tag("lgbt_friendly.png", :alt => "LGBT Friendly", :title => "LGBT Friendly") %>
      <%end%></h1>
  <h3>@ <%= link_to  @program.organization.name, @program.organization %></h3>
<%end%>


  <% if @program.organization.latitude and @program.organization.longitude %>
      <%= map(:center => {
            :latlng => [@program.organization.latitude, @program.organization.longitude],
            :zoom => 10,
          },
          :tile_layer => "http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}",
          :markers => [{
              :latlng => [@program.organization.latitude, @program.organization.longitude]
          }],
          :max_zoom => 16
      ) %>
  <%end%>
  </div>


  <div class="main col-lg-6">
      <% if @program.description != "" %>
        <h2>Program Description</h2>
        <p><%= @program.description %></p>
      <%end%>

      <% if @program.access_to_services != "" %>
        <h2>Access to Services:</h2>
        <p><%= @program.access_to_services %></p>
      <%end%>

      <% if @program.program_timing != "" %>
        <h2>Hours of Operation</h2>
        <p><%= @program.program_timing %></p>
      <%end%>

      <% if @program.services != "" %>
        <h2>Services Available</h2>
        <p><%= @program.services %></p>
      <%end%>

      <% if @program.health_status_req != "" || @program.gender_req != "" || @program.sexual_orientation_requirement != "" %>
        <h2>Eligibility Requirements</h2>
            <ul>
              <li><%= @program.health_status_req %></li>
              <li><%= @program.gender_req %></li>
              <li><%= @program.sexual_orientation_requirement %>
      <%end%>
      <% if @program.min_age != nil %>
        <li>Ages <%= @program.min_age%>
          <%end%>
      <% if @program.max_age != nil %>
        - <%= @program.max_age %>
      <%end%></li>
    </ul>

    <%=render partial: 'shared/org_contact_info', locals: {organization: @program.organization}%>


    <% if @program.language_req == "Y" %>
        <h2>Spanish Speaking Program</h2>
    <%end%>

  </div>
