<h2>Contact Info</h2>
<p> <%=organization.address%>
  <%=organization.address2%><br/>
  <%=organization.city%>, <%=organization.state%><br/>
  <%=organization.zip%><br/>
</p>
<% if organization.phone_no and organization.phone_no.length > 0  %>
  <p> Phone number: <a href="tel:<%=organization.phone_no%>"><%=organization.phone_no%></a></p>
<%end%>

<% if organization.email and organization.email.length > 0%>
  <p>Email: <%=organization.email%> </p>
<%end%>
<% if organization.website and organization.website.length > 0%>
  <p>Website: <%=link_to organization.website, organization.website %></a> </p>
<%end%>
