<h2>Contact Info</h2>
<p> 
  <% if organization.address != "" %>
	<%=organization.address%><br />
  <%end%>
  <% if  organization.address2 != "" %>
  	<%=organization.address2%><br/>
  <%end%>
  <% if organization.city != "" %>
  	<%= organization.city%>, <%=organization.state%><br/>
  <%end%>
  <% if organization.zip != "" %> 
  	<%= organization.zip%><br/>
  <%end%>
</p>
<% if organization.phone_no and organization.phone_no.length > 0  %>
  <p> Phone number: <a href="tel:<%=organization.phone_no%>"><%=organization.phone_no%></a></p>
<%end%>

<% if organization.email and organization.email.length > 0%>
  <p>Email: <%=organization.email%> </p>
<%end%>
<% if organization.website and organization.website.length > 0%>
  <% if organization.website.match(/http(s)?:\/\//) %>
    <p>Website: <a href='<%=organization.website%>'><%=organization.website %></a> </p>
  <% else %>
    <p>Website: <a href='http://<%=organization.website%>'><%=organization.website %></a> </p>
  <% end %>
<%end%>
