<div class="main col-lg-12">
	<h1><%= content_for(:title, "Donate Money") %>Donate Money</h1>

	<table>
		<TR valign="top">
			<TD width="80%"><h3>Broadway Youth Center - (BYC, an HBHC program)</h3>
				A safe and affirming space for youth of all gender expressions & identities ages 12-24. They have drop-in, free HIV/STI testing, educational programs & resources.
			<TD width="20%"><A HREF="https://howardbrown1165.thankyou4caring.org/broadway-youth-center-donation-page">
				<%= image_tag("Donate-Button.png", :class => "logo", :alt => "Donate Now", :title => "Donate Now") %></a>
		</tr>
		<TR>
			<TD>
		</tr>
		<TR valign="top">
			<td><h3>The Night Ministry - The Crib</h3>
				An emergency overnight shelter that accepts 20 youth from 18-24 each night, 365 days a year from 9pm to 9am.
				<ul>
					<LI>A $50 donation provides a night of shelter for a young person at The Crib.  
					<LI>$20 helps purchase a three-day transit pass for youth to use when they look for jobs or attend medical or counseling appointments. 
					<LI>$10 provides one night of meals for a young person at The Crib. 
				</ul>
			<td><A HREF="https://thenightministry.ejoinme.org/MyPages/TheCrib/tabid/534715/Default.aspx"><%= image_tag("Donate-Button.png", :class => "logo", :alt => "Donate Now", :title => "Donate Now") %></a>
		</tr>
		<TR>
			<TD>
		</tr>
		<TR valign="top">
			<TD><h3>Lakeview Presbyterian Church - Cafe Pride</h3>
				Cafe Pride’s mission is to provide safe social space for LGBTQA young people on Friday nights from 8:00 – Midnight! Youth from all over the Chicagoland area come to be accepted as they are, to play cards, watch a movie, or just hang out! This program is 100% volunteer-run by members of the LVPC community. Volunteer opportunities are always available!
			<TD><A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9SXH9UVZVPAQ2"><%= image_tag("Donate-Button.png", :class => "logo", :alt => "Donate Now", :title => "Donate Now") %></a>
		</tr>
		<TR>
			<TD>
		</tr>
		<TR valign="top">
			<TD><h3>Broadway United Methodist Church - Youth Lounge</h3>
				A bi-monthly safe space for resilient Chicago youth. 
			<TD>Donate via checks mailed to:<BR>
				Broadway United Methodist Chuch<BR>
				c/o Youth Lounge<BR>
				3338 N Broadway St<BR>
				Chicago, IL 60657
		</tr>
		<TR>
			<TD>
		</tr>
		<TR valign="top">
			<TD><h3>Chicago House</h3>
				Chicago House and Social Service agency serves individuals and families who are disenfranchised by HIV/AIDS, LGBTQ marginalization, poverty, homelessness, and/or gender nonconformity by providing housing, employment services, medical linkage and retention services, HIV prevention services, legal services and other supportive programs.
			<TD><A HREF="https://donatenow.networkforgood.org/chicagohouse"><%= image_tag("Donate-Button.png", :class => "logo", :alt => "Donate Now", :title => "Donate Now") %></a>
		</tr>
		<TR>
			<TD>
		</tr>
		<TR valign="top">
			<TD><h3>Howard Brown Health Center</h3>
				Howard Brown Health Center exists to eliminate the disparities in health care experienced by lesbian, gay, bisexual and transgender people through research, education and the provision of services that promote health and wellness.
			<TD><A HREF="https://howardbrown1165.thankyou4caring.org/sslpage.aspx?pid=298"><%= image_tag("Donate-Button.png", :class => "logo", :alt => "Donate Now", :title => "Donate Now") %></a>
		</tr>

	</table>
	
</div>

