<div class="main col-lg-6">
    <h1><%=@organization.name%></h1>

  <% if @organization.latitude and @organization.longitude %>
      <%= map(:center => {
            :latlng => [@organization.latitude, @organization.longitude],
            :zoom => 12,
          },
          :tile_layer => "http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}",
          :markers => [{
              :latlng => [@organization.latitude, @organization.longitude]
          }],
          :max_zoom => 16
      ) %>
      <a class='directions' href="http://maps.apple.com/?ll=<%=@organization.latitude%>,<%=@organization.longitude%>">Directions</a>
  <%end%>

  </div>

<div class="main col-lg-6">

  <h2>Programs</h2>
  <%@organization.programs.each do |program| %>
    <% if program.name == "" %>
      <li><%=link_to @organization.name, program_path(program.id) %> </li>
    <%else%>
      <li><%=link_to program.name, program_path(program.id)%> </li>
    <%end%>
  <%end%>

  <%if @organization.description %>
      <h2>Description</h2>
      <P><%= @organization.description %></p>
  <%end%>

  <%=render partial: 'shared/org_contact_info', locals: {organization: @organization}%>

  <% if @organization.latitude and @organization.longitude %>
    <p class='place' data-lat='<%= @organization.latitude || "" %>' data-lng= '<%= @organization.longitude || "" %>' >You are currently  </p>
  <%end%>

</div>
