<h1><%=@organization.name%></h1>


<div class='programs container'>
  <h2>Programs</h2>
  <%@organization.programs.each do |program| %>
    <li> <%=link_to program.name, program%> </li>
  <%end%>
</div><br/>


<div class='address container'>
    <h2> Contact Info</h2>
    <p> <%=@organization.address%>
      <%=@organization.address2%><br/>
      <%=@organization.city%>, <%=@organization.state%><br/>
      <%=@organization.zip%><br/>
    </p>
    <p> Phone number: <%=@organization.phone_no%></p>
    <p> Email: <%=@organization.email%> </p>
    <p> Website: <%=link_to @organization.website, @organization.website %></a> </p>
</div>


<div class='map'>

</div>
