<div class="main col-lg-6">
    <h1><%=@organization.name%></h1>

  <% if @organization.latitude and @organization.longitude %>
      <%= map(:center => {
            :latlng => [@organization.latitude, @organization.longitude],
            :zoom => 12,
          },
          :tile_layer => "http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}",
          :markers => [{
              :latlng => [@organization.latitude, @organization.longitude]
          }],
          :max_zoom => 16
      ) %>
      <a class='directions' href="http://maps.apple.com/?ll=<%=@organization.latitude%>,<%=@organization.longitude%>">Directions</a>
  <%end%>

  </div>

<div class="main col-lg-6">

  <h2>Programs</h2>
  <%@organization.programs.each do |program| %>
    <% if program.name == "" %>
      <li><%=link_to @organization.name, program_path(program.id) %> </li>
    <%else%>
      <li><%=link_to program.name, program_path(program.id)%> </li>
    <%end%>
  <%end%>

    <h2>Contact Info</h2>
    <p> <%=@organization.address%>
      <%=@organization.address2%><br/>
      <%=@organization.city%>, <%=@organization.state%><br/>
      <%=@organization.zip%><br/>
    </p>
    <% if @organization.phone_no and @organization.phone_no.length > 0  %>
      <p> Phone number: <a href="tel:<%=@organization.phone_no%>"><%=@organization.phone_no%></a></p>
    <%end%>

    <% if @organization.email and @organization.email.length > 0%>
      <p>Email: <%=@organization.email%> </p>
    <%end%>
    <% if @organization.website and @organization.website.length > 0%>
      <p>Website: <%=link_to @organization.website, @organization.website %></a> </p>
    <%end%>
    <p class='place' data-lat='<%= @organization.latitude || "" %>' data-lng= '<%= @organization.longitude || "" %>' >You are currently  </p>

</div>
