<div class="main col-lg-5">
    <h1><%=@organization.name%></h1>

  <% if @organization.locations != [] %>
        <%= map(:center => {
              :latlng => [@organization.latitude, @organization.longitude],
              :zoom => 12,
            },
            :tile_layer => "http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}",
            :markers => @organization.locations.select{|o| o.latitude and o.longitude }.collect{|o| {:latlng => [o.latitude, o.longitude]}},
            :max_zoom => 16
        ) %>
      <a class='directions' href="http://maps.apple.com/?ll=<%=@organization.latitude%>,<%=@organization.longitude%>">Directions</a>
  <%end%>
</div>

<div class="main col-lg-5">

  <h2>Programs</h2>
  <%@organization.programs.each do |program| %>
    <% if program.name == "" %>
      <li><%=link_to @organization.name, program_path(program.id) %> </li>
    <%else%>
      <li><%=link_to program.name, program_path(program.id)%> </li>
        <% program.locations.each do |prog| %>
          <% unless prog.latitude == @organization.latitude && prog.latitude == @organization.latitude %>
            <%= prog.address %><br><%= prog.city %>, <%= prog.state %> <%= prog.zip %>
          <% end %>
        <% end %>
    <%end%>
  <%end%>

  <%if @organization.description %>
      <h2>Description</h2>
      <P><%= @organization.description %></p>
  <%end%>

  <%=render partial: 'shared/org_contact_info', locals: {organization: @organization}%>

  <% if @organization.latitude and @organization.longitude %>
    <p class='place' data-lat='<%= @organization.latitude || "" %>' data-lng= '<%= @organization.longitude || "" %>' >You are currently  </p>
  <%end%>

</div>
<div class="main col-lg-2">
    <A HREF="/contact?flag_inaccurate_org=<%= @organization.id %>"><%= image_tag("flag_red.png", :alt => "Flag as Inaccurate", :title => "Flag as inaccurate") %> Flag as Inaccurate</a>
</div>
