<!DOCTYPE html>
<html>
<head>
  <title>LGBTHomelessness - <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to(image_tag("LGBTHomelessness_Logo.png", :class => "logo", :alt => "logo", :title => "LGBT Homelessness"), "/") %>
		<nav>
			<ul>
				<li><% link_to "About", "about" %></li>
				<li><% link_to "Resources", "who" %></a></li>
				<li><% link_to "Volunteer", "volunteer"%></a></li>
				<li><% link_to "Contact Us", "contact" %></a></li>
			</ul>
		</nav>
	</header>

<%= yield %>

</body>
</html>
